APP_TZ=America/Sao_Paulo
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=pixdb
DB_USERNAME=root
DB_PASSWORD=root
ORIGIN_WHITELIST=bankA,bankB
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
CEO_EMAIL=ceo@company.test
EMAIL_SLA_MINUTES=2
